# Virtuelle Umgebung (Root)
venv/
venv
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Sensible Daten / Keys 
**/keys/token.json
**/keys/serviceAccountKey.json
**/keys/credentials.json
token.json
serviceAccountKey.json
credentials.json

# IDE spezifische Dateien
.vscode/
.idea/

# OS spezifische Dateien
.DS_Store
Thumbs.dbfunctions/sendmail/test_local*.py 
